<!-- personForm.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Form</title>
</head>
<body>
    <h2>Add marks form</h2>
    <form th:action="@{/addm}" th:object="${data}" method="post">
        <p>Id: <input type="number" th:field="*{id}" /></p>
        <p>Marks: <input type="number" th:field="*{marks}" /></p>
        <p>Sub: <input type="text" th:field="*{sub}" /></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
