<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Data</title>
</head>
<body>
	
	<a href="/data">home page</a>
    <h1>Student Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>marks</th>
                <th>Last Name</th>
				<th>Name of student </th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="marks : ${marks}">
                <td th:text="${marks.id}"></td>
				<td th:text="${marks.marks}"></td>
                <td th:text="${marks.sub}"></td>
				<td th:text="${marks.name}"></td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>
